.addres {
display: none;
}

.feedback > form {
padding: 24px 24px 70px !important;
}

.feedback textarea {
border: 2px solid #ededed !important;
    border-radius: 5px !important;
}

.coll_1 {
padding-bottom: 85px !important;
}

.feedback input {
    border: 2px solid #e5e5e5 !important;
    border-radius: 5px !important; 
}

.feedback input:not([type="checkbox"]) {
    height: 35px !important;
}

label a {
color: #1cb2e9 !important;
}

.feedback input.send {
    padding: 0 35px !important;
    color: #fff !important;
    background-color: #1cb2e9 !important;
    float: left;
    height: 50px !important;
    font-size: 16px;
    transition: 0.5s;
}

.feedback input.send:hover {
background-color: #7fc7ff !important;
}

.feedback {
margin-left: 675px !important;
}

div.feedback h2 {
background-color: #1cb2e9 !important;
    border-radius: unset !important;
}

.feedback {
    border: 5px solid #1cb2e9 !important;
}

.news_fon {
display: none;
}

.right-col {
display: none !important;
}

.calendar_container {
display: none;
}

.search {
display: none;
}

#yandex_map.yaMap_style {
display: none;
}

.site_body2 {
margin-top: 0px;
}

.ya-share2.ya-share2_inited {
margin-top: 25px;
    top: 210%;
}

h1 {
color: #1cb2e9;
}

.title {
background-color: #1cb2e9;
}

.main_content p, .main_content span {
color: #000 !important;
}
