.feedback {
display: none;
}

.main_content h1 {
display: none;
}

p.news-description {
    position: absolute;
    max-width: 500px;
    text-align: left;
    margin-left: 275px;
      font-size: 16px;
    margin-top: 75px;
}

.d7f {
    position: relative;
    font-family: "Gilroy", sans-serif; 
    line-height: 1.2;
    max-width: 360px;
    min-width: 270px;
    margin: auto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    font-variant: none;
    margin-left: 650px;
    margin-top: -350px;
}
