.feedback {
display: none;
}

.addres {
display: none;
}

.news_fon {
display: none;
}

.right-col {
display: none !important;
}

.calendar_container {
display: none;
}

.search {
display: none;
}

#yandex_map.yaMap_style {
display: none;
}

.site_body2 {
margin-top: 500px;
}

.ya-share2.ya-share2_inited {
margin-top: 150px;
    top: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.footer {
    margin-top: auto; 
}


h1 {
color: #1cb2e9;
}

