.feedback {
display: none;
}

.addres {
display: none;
}

.news_fon {
display: none;
}

.right-col {
display: none !important;
}

.calendar_container {
display: none;
}

.search {
display: none;
}

#yandex_map.yaMap_style {
display: none;
}

.site_body2 {
margin-top: 0px;
}

.ya-share2.ya-share2_inited {
margin-top: 25px;
    top: auto;
}

.ufz-form .ufz-button-group .ufz-butn {
    background-color: #7fc7ff;
    border-radius: 15px;
    height: 50px;
    transition: 0.5s;
}

.ufz-question .ufz-butn.active, .ufz-form .ufz-butn.active {
    background-color: #1CB2E9 !important;
}

.ufz-form .ufz-button-group .ufz-butn:hover {
    background-color: #1CB2E9;
}

h1 {
color: #1cb2e9;
}

.ufz-question, .ufz-question *, .ufz-comment-group .comment-block *, .ufz-form, .ufz-form * {
    font-family: Gilroy !important;
}

.ufz-form-vote_imgs label, .ufz-form .ufz-file-group > div:nth-child(2), .ufz-form .ufz-pagination .ufz-butn, .ufz-form [data-ufz-action="logout"].ufz-butn,
.ufz-form .ufz-butn, .ufz-question .ufz-pagination .ufz-butn, .ufz-question [data-ufz-action="logout"].ufz-butn, .ufz-question .ufz-butn {
    border-radius: 10px !important;
    background-color: #1CB2E9;
    padding: 30px;
    transition: 0.5s;
}

.ufz-question .ufz-butn:hover, .ufz-form .ufz-butn:hover {
    background-color: #7fc7ff !important;
}

.ufz-form .ufz-form-p-center p {
font-weight: 500 !important;
}

.ufz-question .add-ufz-question-form {
    border-color: #1cb2e9 !important;
    border-radius: 10px !important;
}

.ufz-question .add-ufz-question-form .title {
    padding: 10px 20px !important;
    color: #fff !important;
    border-radius: 5px !important;
        margin-top: -10px !important;
}

.title {
background-color: #1cb2e9;
}

.ufz-question .add-ufz-question-form .title small {
color: #fff;
    line-height: 0 !important;
    font-size: 16px !important;
}

.ufz-question .ufz-form-group .ufz-col .ufz-butn {
    padding: 15px !important;
    background-color: #1CB2E9 !important;
}

.ufz-pagination a.active, .ufz-form .ufz-faq-btn, .ufz-form .ufz-file-group > div:nth-child(2), .ufz-question .ufz-butn, .ufz-form .ufz-butn {
    backgorund-color: #1CB2E9 !important;
}

.ufz-question .add-ufz-question-form .ufz-butn {
border-radius: 10px !important;
    padding: 15px !important;
}

.ufz-question .add-ufz-question-form input[type="checkbox"]:checked + .ufz-checkbox:before {
    color: #1CB2E9 !important;
}

.ufz-question .add-ufz-question-form input:not(:disabled) {
    border: 1px solid #e5e5e5 !important;
        border-radius: 5px !important;
}

.ufz-form .ufz-file-group {
 border: 1px solid #e5e5e5 !important;
}

.ufz-question .add-ufz-question-form .ufz-checkbox {
border-color: #1CB2E9 !important;
}
